.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin-top: 8em;
  margin-bottom: 8em;
}

.wrapper h2 {
   color: #9684a1;
  font-size: 3rem;
  text-align: center;
}

.wrapper h3 {
  font-size: 1.5rem;
  padding: 2rem;
  color: #9684a1;
  text-align: center;
}

.content {
  margin: 1.5px;
}

.content p {
  padding: 1rem;
  max-width: 600px;
}

img {
  z-index: 1;
  border-radius: 4px;
}

ul {
  padding-left: 3rem;
}

.content a {
  text-decoration: none;
  background-color: #4c2885;
  border-radius: 6px;
  padding: 1rem;
  margin: 6rem;
  box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.1);
}


@media only screen and (max-width: 600px) {
    .wrapper h2 {
       font-size: 2em;
       margin: 1em;  
     }
     .wrapper h4 {
        font-size: 1em;
        margin-bottom: 1em;
        text-align: center;
      }
      
}