.projects {  
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  
    
}

.project {
    /* max-height: 500px;
    max-width: 500px; */
    padding: 1em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 4px;
    outline: solid 1px #4F5659;
    text-decoration: none;
    text-align: center;
    box-shadow: -5px 5px 25px 0px rgba(0,0,0,0.16), 5px 5px 25px 0px rgba(0,0,0,0.16);


}

.project h2{
    /* color: #6F98C0; */
    background: -webkit-linear-gradient(180deg, #9684A1, #EEF2F3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #9684A1; */
}



.hero{
    font-size: 7em;
    margin: 1em;
    animation: grow 1s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .hero{
        font-size: 3em;
        margin: 1em;
        animation: growsmall 2s ease-in;
        overflow: hidden;
    }
    @keyframes growsmall {
        0% {
          font-size: 3em;
        }
    
        50% {
          font-size: 3.2em;
        }
      
        100% {
            font-size: 3em;
        }
      }
    
  }

@keyframes grow {
    0% {
      font-size: 7em;
    }

    50% {
      font-size: 7.5em;
    }
  
    100% {
        font-size: 7em;
    }
  }